<header>
    <nav>
        <ul>
            <li><a href="/"><img src="/pb.png"alt="{{ site.name + ', ' + site.description }}"/></a></li>
            <li><a href="/">Posts</a></li>
            <li><a href="/about">About</a></li>
        </ul>
    </nav>
</header>